/* rotate the entire page 180 degrees. the rule that started it all. disabled by default because it's not very, um, subtle. */
/*body {
    -webkit-transform: rotate(180deg) !important;
}*/

/* rotate *some* images 180 degrees. credit to @paulbaumgart */
img[src*="7"] {
    -webkit-transform: rotate(180deg) !important;
}

/* hide every first paragraph and list item */
p:first-child, li:first-child {
    display: none !important;
}
